<div style="padding-top: 50px;">
	<div style="padding: 10px 0;">
		<!-- 해피하우스 기본관고 -->
	<!-- <ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-2840781308828288"
	     data-ad-slot="3390584052"
	     data-ad-format="auto"></ins> -->
	<!-- 고급형 -->
	<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2840781308828288"
     data-ad-slot="7820783651"
     data-ad-format="auto"></ins>
	</div>
     
	<div style="display: center; width: 100%;">
		<% @feeds.each do |feed| %>
		<a name="<%= feed.id %>">
			<div style="padding: 10px;">
				<table>
					<tr>
						<!-- <td style="width: 300px; height: 300px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; background: url(http://link-to-your/image.jpg) no-repeat;">
							
						</td> -->
						<td rowspan="2" style="padding: 0;width: 50px; height: 50px; background-position: center; background-repeat: no-repeat; overflow: hidden;" >
							<img style="width:50px; height: 50px; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; no-repeat;" src="<%=feed.user.user_cover.image.url%>" />
						</td>
						<td style="padding: 0;"><%= feed.user.user_cover.name %></td>
					</tr>
					<tr>
						<td style="padding: 0;"><%= @time_word[feed.id] %></td>
					</tr>
				</table>
			</div>
			<div style="margin-top: -4px;"><img style="width:100%" src="<%=feed.feed_photos[0].image.url%>" /></div>
			<div style="padding: 20px 10px; margin-top:-4px;"><%= feed.content %></div>
			<hr style="border-bottom: 0; color: gray; margin:0;" />
		</a>
		<% end %>
	</div>
</div>

<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
// (adsbygoogle = window.adsbygoogle || []).push({});
(adsbygoogle = window.adsbygoogle || []).push({});
</script>





