<div style="padding-top: 50px;">
	<div style="display: center; width: 100%;">
		<% @member_notes.each do |feed| %>
		<a name="<%= feed.id %>">
			<div style="padding: 10px;">
				<table>
					<tr>
						<!-- <td style="width: 300px; height: 300px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; background: url(http://link-to-your/image.jpg) no-repeat;">
							
						</td> -->
						<td rowspan="2" style="padding: 0;width: 50px; height: 50px; background-position: center; background-repeat: no-repeat; overflow: hidden;" >
							<img style="width:50px; height: 50px; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; no-repeat;" src="<%=feed.user.user_cover.image.url%>" />
						</td>
						<td style="padding: 0;"><%= feed.user.user_cover.name %></td>
					</tr>
					<tr>
						<td style="padding: 0;"><%= @time_word[feed.id] %></td>
					</tr>
				</table>
			</div>
			<div style="margin-top: -4px;"><img style="width:100%" src="<%=feed.feed_photos[0].image.url%>" /></div>
			<div style="padding: 20px 10px; margin-top:-4px;"><%= feed.content %></div>
			<hr style="border-bottom: 0; color: gray; margin:0;" />
		</a>
		<% end %>
	</div>
</div>