<div>
	<div id="loading" style="transform: scale(0.5) rotate(135deg);">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
		<div class="bar6"></div>
		<div class="bar7"></div>
		<div class="bar8"></div>
	</div>
</div>

<div style="padding-top: 60px; padding-left: 10px; padding-right: 10px;">
	<div style="text-align: left; border:1px #F3D407 solid; padding: 10px; border-radius:5px; -moz-border-radius:3px; -webkit-border-radius:3px; font-size: 15px; color: black; line-height: 150%;">
			<p style="text-align: center;font-size: 18px; font-weight: bold; color: #F3D407; line-height: 100%">궁합결과</p>
			<div id="result" style="display: none;"><%= raw hbr @play.answer %></div>
			<div id="btn_container" style="padding-top: 15px; padding-bottom: 10px; text-align: center; margin-top:60px;">
				<div id="txt_loading" style="color: gray;">전생 데이터 수집중...</div>
				<%= button_to '궁합 다시보기', new_compatibility_path, :method => :get, :style =>"font-size: 14px; padding: 5px 10px; display:none", :id => "btn_sub" %>
				<!-- <input type="button" value="궁합 다시보기" /> -->
			</div>	
	</div>
	<div id="div_katalk_share" style="float: right; margin-top: 10px; display: none;">
		<a id="kakao-link-btn" href="javascript:sendLink()">
	    	<img style="width: 50px;" src="http://dn.api1.kage.kakao.co.kr/14/dn/btqa9B90G1b/GESkkYjKCwJdYOkLvIBKZ0/o.jpg" />
	    </a>
	</div>
		
	<div id="div_url_copy" style="float:right; background-color: gray;margin-top: 12px; margin-right: 10px; padding: 3px;border:1px gray solid; border-radius:5px; -moz-border-radius:3px; -webkit-border-radius:3px;  display: none;">
			<a onclick="copy_url();" href="#">
				<i class="fa fa-share fa-3x" style="color: white;"></i>
			</a>
	</div>
	<!-- 이벤트 -->
	<div id="btn_lottery" style="padding: 0 10px; height:46px; line-height: 46px; float: right; background-color: #00592D; margin-top: 12px; margin-right: 10px; border:1px white solid; border-radius:5px; -moz-border-radius:3px; -webkit-border-radius:3px;  display: none;">
		<a href="javascript:go_app();" style="color: white; font-size: 16px; text-decoration: none;">스타벅스 기프티콘 받기</a>
	</div>
</div>

<!-- 구글 광고 -->
<% if request.env['HTTP_USER_AGENT'].downcase.match(/mobile/) %> 
	<!-- <div style="padding: 10px 0; text-align: center;">
	     <ins class="adsbygoogle"
	     style="display:inline-block;width:320px;height:50px"
	     data-ad-client="ca-pub-2840781308828288"
	     data-ad-slot="9297516855"></ins>
	</div> -->
<% else %>
<!-- 고급형 -->
	<!-- <div style="padding: 10px 0;">
		<ins class="adsbygoogle"
	    	style="display:block"
	     	data-ad-client="ca-pub-2840781308828288"
	     	data-ad-slot="7820783651"
	     	data-ad-format="auto"></ins>
   </div> -->
<% end %>

<div style="padding-top: 10px; clear: right;">
	<hr style="border-bottom: 0; color: gray; margin:0;" />
	<div style="display: center; width: 100%;">
		<% @feeds.each do |feed| %>
		<a name="<%= feed.id %>">
			<div style="padding: 10px;">
				<table>
					<tr>
						<!-- <td style="width: 300px; height: 300px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; background: url(http://link-to-your/image.jpg) no-repeat;">
							
						</td> -->
						<td rowspan="2" style="padding: 0;width: 50px; height: 50px; background-position: center; background-repeat: no-repeat; overflow: hidden;" >
							<img style="width:50px; height: 50px; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; no-repeat;" src="<%=feed.user.user_cover.image.url%>" />
						</td>
						<td style="padding: 0;"><%= feed.user.user_cover.name %></td>
					</tr>
					<tr>
						<td style="padding: 0;"><%= @time_word[feed.id] %></td>
					</tr>
				</table>
			</div>
			<div style="margin-top: -4px;"><img style="width:100%" src="<%=feed.feed_photos[0].image.url%>" /></div>
			<div style="padding: 20px 10px; margin-top:-4px;"><%= feed.content %></div>
			<hr style="border-bottom: 0; color: gray; margin:0;" />
		</a>
		<% end %>
	</div>
</div>

<!-- 구글 광고 -->
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->


<style>
/* general styling */
  

/* position the bars and balls correctly (rotate them and translate them outward)*/
.bar1 {
  -moz-transform:rotate(0deg) translate(0, -40px);
  -webkit-transform:rotate(0deg) translate(0, -40px);opacity:0.12;
}
.bar2 {
  -moz-transform:rotate(45deg) translate(0, -40px);
  -webkit-transform:rotate(45deg) translate(0, -40px);opacity:0.25;
}
.bar3 {
  -moz-transform:rotate(90deg) translate(0, -40px);
  -webkit-transform:rotate(90deg) translate(0, -40px);opacity:0.37;
}
.bar4 {
  -moz-transform:rotate(135deg) translate(0, -40px);
  -webkit-transform:rotate(135deg) translate(0, -40px);opacity:0.50;
}
.bar5 {
  -moz-transform:rotate(180deg) translate(0, -40px);
  -webkit-transform:rotate(180deg) translate(0, -40px);opacity:0.62;
}
.bar6 {
  -moz-transform:rotate(225deg) translate(0, -40px);
  -webkit-transform:rotate(225deg) translate(0, -40px);opacity:0.75;
}
.bar7 {
  -moz-transform:rotate(270deg) translate(0, -40px);
  -webkit-transform:rotate(270deg) translate(0, -40px);opacity:0.87;
}
.bar8 {
  -moz-transform:rotate(315deg) translate(0, -40px);
  -webkit-transform:rotate(315deg) translate(0, -40px);opacity:1;
}

/* set up the three ball spinners */
#loading {
  /*position:relative;*/
  position:absolute;
  
  width:100px;
  height:100px;
  left: 50%;
  margin-left: -50px;
  margin-top: 100px;
  /*margin:25px;*/
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  float:left;
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);

  -webkit-animation-name: rotateThis;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}
#loading div {
  width:20px;
  height:20px;
  background:#000;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  position:absolute;
  left:40px;
  top:40px;
}
/* add a shadow to the first */
#loading div {
  -moz-box-shadow:black 0 0 4px;
  -webkit-box-shadow:black 0 0 4px;
}
</style>
<script>
	var result_val = "<%= @play.answer.split("\n")[0] + " 그런데..." %>";
	  
    // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('db06d124c2ef3f283fedea4c9ab19959');
    function sendLink() {
    	$.ajax({
		   url: "/logs/create_log",
		   dataType:'json',
		   data: {cookie: getCookie(), f_log: "<%=LOG_KAKAO%>", s_log: "<%=LOG_KAKAO_PLAY_SHARE_PAST_LIFE%>"},
		   type:'POST',
		   success: function(data){
			   	Kakao.Link.sendTalkLink({
			        label: "[Happy House]\n\n" + result_val,
				    webButton: {
				    	text: '친구 궁합 계속보기',
        				url: 'http://happyhouse.me/plays/<%=@play.id%>' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
					}
			    });
		   }
		});
    }
    
  var count = 0;
  function rotate() {
    var loading = document.getElementById('loading');
    loading.style.MozTransform = 'scale(0.5) rotate('+count+'deg)';
    loading.style.WebkitTransform = 'scale(0.5) rotate('+count+'deg)';
    if (count==360) { count = 0 }
    count+=45;
    window.setTimeout(rotate, 100);
  }
  
  window.setTimeout(rotate, 100);
  
  $(document).ready(function() {
  	setTimeout(function() {
		$("#loading").remove();
		$("#txt_loading").remove();
		$("#btn_sub").show();
		$("#result").show();
		$("#div_katalk_share").show();
		$("#div_url_copy").show();
		$("#btn_lottery").show();
		
		
		$("#btn_container").css({'margin-top':'0px'});
		
	}, 1500);
  });
  
  function copy_url(){
  	<% if session[:user_agent] == "mobile" %>
  		prompt('주소를 길게 눌러서 복사하세요.', window.location);
  	<% else %>
  		prompt('주소를 복사해서 이용하세요.', window.location);
  	<% end %>
  }
  
  function go_lottery_page() {
  	$.ajax({
		   url: "/logs/create_log",
		   dataType:'json',
		   data: {f_log: "<%=LOG_STAR_BUCKS%>", s_log: "<%= LOG_STAR_BUCKS_EVENT_PAGE %>"},
		   type:'POST',
		   success: function(data){
		   	if("<%=session[:user_agent]%>" == "android") {
				window.location = "/lotteries/new"
			} else {
				alert("죄송합니다. 현재 이벤트는 안드로이드 에서만 가능합니다.");
			}
		   }
		});
  }
  
  function go_app(){
		$.ajax({
		   url: "/logs/create_log",
		   dataType:'json',
		   data: {f_log: "<%=LOG_STAR_BUCKS%>", s_log: "<%=LOG_STAR_BUCKS_EVENT_APP_DOWN_LOAD%>"},
		   type:'POST',
		   success: function(data){
		   	if("<%=session[:user_agent]%>" == "android") {
		   		if (confirm("이 이벤트는 앱에서 \n참여 하실 수 있습니다.\n\n앱 다운로드 페이지로 이동 하시겠습니까?") == true){    //확인
				    window.location = "market://details?id=me.tellus.happyhouse";
				}else{   //취소
				    return;
				}
			} else {
				alert("죄송합니다. 현재 안드로이드 에서만 가능합니다.");
			}
		   }
		});
  }
  
</script>
