<div style="padding-top: 60px; padding-left: 10px; padding-right: 10px;">
	<div style="text-align: center; border:1px #F3D407 solid; padding: 10px; border-radius:5px; -moz-border-radius:3px; -webkit-border-radius:3px; font-size: 12px; color: black;">
		<%= raw hbr @play.answer %>
		<div style="padding-top: 15px; padding-bottom: 10px"><input type="button" value="궁합 다시보기" /></div>	
	</div>
	
	<div style="text-align: right; margin-top: 10px;">
		<a id="kakao-link-btn" href="javascript:;">
	    	<img style="width: 50px;" src="http://dn.api1.kage.kakao.co.kr/14/dn/btqa9B90G1b/GESkkYjKCwJdYOkLvIBKZ0/o.jpg" />
	    </a>
	</div>
</div>

<% if request.env['HTTP_USER_AGENT'].downcase.match(/mobile/) %> 
	<div style="padding: 10px 0; text-align: center;">
	     <ins class="adsbygoogle"
	     style="display:inline-block;width:320px;height:50px"
	     data-ad-client="ca-pub-2840781308828288"
	     data-ad-slot="9297516855"></ins>
	</div>
<% else %>
	<div style="padding: 10px 0;">
	<!-- 고급형 -->
		<ins class="adsbygoogle"
	    	style="display:block"
	     	data-ad-client="ca-pub-2840781308828288"
	     	data-ad-slot="7820783651"
	     	data-ad-format="auto"></ins>
   </div>
<% end %>

<div style="padding-top: 10px;">
	<hr style="border-bottom: 0; color: gray; margin:0;" />
	<div style="display: center; width: 100%;">
		<% @feeds.each do |feed| %>
		<a name="<%= feed.id %>">
			<div style="padding: 10px;">
				<table>
					<tr>
						<!-- <td style="width: 300px; height: 300px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; background: url(http://link-to-your/image.jpg) no-repeat;">
							
						</td> -->
						<td rowspan="2" style="padding: 0;width: 50px; height: 50px; background-position: center; background-repeat: no-repeat; overflow: hidden;" >
							<img style="width:50px; height: 50px; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; no-repeat;" src="<%=feed.user.user_cover.image.url%>" />
						</td>
						<td style="padding: 0;"><%= feed.user.user_cover.name %></td>
					</tr>
					<tr>
						<td style="padding: 0;"><%= @time_word[feed.id] %></td>
					</tr>
				</table>
			</div>
			<div style="margin-top: -4px;"><img style="width:100%" src="<%=feed.feed_photos[0].image.url%>" /></div>
			<div style="padding: 20px 10px; margin-top:-4px;"><%= feed.content %></div>
			<hr style="border-bottom: 0; color: gray; margin:0;" />
		</a>
		<% end %>
	</div>
</div>


<script>
    // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('db06d124c2ef3f283fedea4c9ab19959');

    // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
      label: '친구 반려동물 궁합결과 보기',
      image: {
        src: 'https://lh3.googleusercontent.com/zPqyBVjBcO4WKiNChwOY2Rn_1QFwMISe9Hf_F80lJ-XLRTcC7NbzDFSKImrsOKV5sg=w300-rw',
        width: '300',
        height: '300'
      },
      webButton: {
        text: '반려동물과 친구의 궁합은??',
        url: 'http://happyhouse.me/plays/<%=@play.id%>' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
      }
    });
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

